{% extends "base.html"%}
{% block content %}
<div class="settings-layout">
  <div class="row">
    <a href="#" class="back-search"><p><i class="fa fa-arrow-left search-arrow"></i>back to profile</p></a>
  </div>
  <h2 class="">Edit Profile</h2> <!--Center this? -->
  <a href="{{ url_for('auth.profile_contact_info') }}">Update Contact Info</a>
  <br>
  <a href="{{ url_for('auth.edit_about') }}">Update About Info</a>

  <h2 class="delete-account">Delete Account</h2>
  <p class="warning">Warning!! This cannot be undone.</p>
  <button type="button" name="delete-account">
    <p>Delete</p>
  </button>
</div>
{% endblock %}
