{% extends "base.html"%}
{% block content %}
<script src="{{ url_for('static', filename='js/populate_map.js') }}"></script>
<!--
  <div class="search">
    <i class="fa fa-search"></i>
    <input class="post-input zipcode buy-margin" type="text" name="title" placeholder="Zip Code">
  </div>
  <div class="filter">
    <button id="filter-button" href="/buy/filter" type="button" name="button">
      <p data-toggle="tooltip" data-placement="bottom" title="<strong>TEST</strong>" html="true">Filter <i class="fa fa-sliders sliders"></i></p>
    </button>
  </div>
-->
<div class="row buy">
    <div class="filters">
        <form action="" method="post" name="search" class="search2">
            {{ form.hidden_tag() }}
            <p>
                <!--
                Min Price: {{ form.min_price() }}
                Max Price: {{ form.max_price() }}
                Categories: {{ form.categories() }}
                -->
                Query: {{ form.query() }}
                <input type="submit" value="Search">
            </p>
        </form>
    </div>
</div>

<!-- Filter Modal
<div id="filter-modal-js" class="filter-modal">
  <div class="filter-modal-content">
    <div class="filter-modal-header">
      <span class="close">x</span>
      <h2>Filter Options</h2>
    </div>
    <div class="filter-modal-body">
    </div>
    <div class="filter-modal-footer">
      <h3>footer</h3>
    </div>
  </div>
</div>
-->

<div class="buy-layout">
  <div class="buy-spacing">
    <div class="map-container" id="googleMap"></div>

    <div class="search-results">
    {% set count = 0 %}
    {% for item in items %}
        {% set count = count + 1 %}
        {% with list_number=count%}
        {% include "market/item.html" %}
        {% endwith %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
