{% extends "base.html"%}
{% block content %}
<div class="buy-layout">
  <div class="buy-spacing-listing">
    {% if item.user.is_admin %}
      <div class="row listing-admin-delete">
        <a href="{{ url_for('admin.delete', item_id=item.id) }}"><h2>[[ Click here to delete this post ]]</h2></a>
      </div>
    {% endif %}
    <div class="row listing-title-price">
      <h1>{{ item.title }}</h1><p style="display: none;" id="listing_id">{{ item.id }}</p>
    </div>
    <div class="row">
      <p class="listing-price">${{ item.price }} {{ item.price_type }}</p>
    </div>
    <div class="row listing-info">
      {% if days == 0 %}
        <p>Posted today by <a href="{{ url_for('auth.profile', username=item.user.username) }}">{{ item.user.username }}</a></p>
      {% else %}
        <p>Posted {{ days }} days ago by <a href="{{ url_for('auth.profile', username=item.user.username) }}">{{ item.user.username }}</a></p>
      {% endif %}
    </div>  
    <div class="row listing-body">
      <div class="column">
                <div class="big-picture-margin">
          {% if item.photos.first() is not none %}
            {% set path = item.photos.first().path %}
            <img id="big-picture" src="{{ "../static/uploads/"+path }}" alt="{{ item.title }}"/>
          {% else %}
            <img id="big-picture" src="../static/images/veggies.jpg" alt="some delicious food">
          {% endif %}
        </div>
        <div class="picture-thumbnails">
          {% if item.photos.first() is not none %}
            {% for photo in item.photos %}
                {% set path = photo.path %}
                  <img src="{{ path|resize('100x100', fill=1) }}" alt="{{ item.title }}" onclick="changeImage('{{ '../static/uploads/'+photo.path }}')" />
            {% endfor %}
          {% endif %}
        </div>
      </div> <!-- End Left Column -->
      <div class="column">
        <div class="map-address">
          <h2 class="location-title">Location</h2>
          <div class="listing-map" id="googleMap"></div>
          <div class="row"></div>
          <div class="column listing-address">
            <p id="street">{% if item.user.street %}{{ item.user.street }}{% endif %}</p>
            <p id="citystate">{% if item.user.city and item.user.state %}{{ item.user.city }}, {{ item.user.state }}{% endif %}</p>
            <p id="zipcode">{{ item.user.zipcode }}</p>
          </div>
          <div class="contact">
            <div class="column">
              <h2>Contact</h2>
              <div class="contact-info">
              {% if item.user.phone_number %}
                <p>Phone: {{ item.user.phone_number }}</p>
              {% endif %}
                <p>Email: {{ item.user.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Listing Body Row -->
    <div class="listing-description">
      <h2 class="description-title">Description</h2>
        <p class="description-body">{{ item.description }}</p>
    </div>
    <div class="column listing-category">
      <h3>Category</h3>
      <a href="{{ url_for('market.buy', filter_type=item.category) }}"><p class="single-category">{{ item.category }}</p></a>
    </div>
  </div>
</div>

{% endblock %}
