<section>
  <div class="step-boxes">
    <div class="column">
      <div class="step">
        <p>Info</p>
        <i class="check fa fa-check"></i>
      </div>
      <div class="{{info}}"></div>
    </div>
    <div class="column">
      <div class="step">
        <p>Item</p>
        <i class="check fa fa-check"></i>
      </div>
      <div class="{{items}}"></div>
    </div>
    <div class="column">
      <div class="step">
        <p>Photo</p>
        <i class="check fa fa-check"></i>
      </div>
      <div class="{{photo}}"></div>
    </div>
  </div>
</section>
